body {
    margin: 0;
    padding: 0;
    background-color: #FFEEAD;
    font-family: "Preahvihear", sans-serif;
    text-align: center;
}

/* Navbar section */
.title {
    padding: 14px;
    font-size: 36px;
    background-color: #FFAD60;
    color: #373A40;
    text-align: center;
}

/* Footer section */
.footer {
    background-color: #FFAD60;
    color: #373A40;
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    position: fixed;
}

.footer a {
    margin-right: 10px;
}

.fa-brands {
    padding-top: 10px;
}

.p_element {
    font-size: 18px;
}

/* Container section */
.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    color: #373A40;
}

.container-score{
    display: flex;
    font-size: 24px;
    gap: 18px;
    margin-top: 14px;
}

.container-score-table{
    width: 200px;
    height: 80px;
    background-color: #FFAD60;
    border: 2px solid #373A40;
}

.container-p{
    font-size: 34px;
    margin-top: 20px;
}

.container-user-message{
    margin-top: 30px;
    font-size: 30px;
}

/* Buttons section */
button{
    background-color: #FFAD60;
    padding: 100px;
    border-radius: 100px;
    margin: 0px 10px;
    border: 2px solid #373A40;
}



